*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.me{
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    height:50vh;
    border:2px solid red
}

.two{
    background-color: red;
}